.poj-content{
    height: 100%;
}
.happy-valley{
    width: 100%;
    height: calc(100% - 64px);
    background-image: url('../images/projrct/pro1/pc/bg.png');
    background-size: cover;
}
.poj-info{
    position: fixed;
    padding:30px 20px 40px;
    -webkit-transform:translateX( 0% ) translateY( -50% );
    transform:translateX( 0% ) translateY( -50% );
    right: 0;
    top: 50%;
    width: 40%;
    background-color: rgba( 0,0,0,.7);
    color: #fff;
    padding-right: 10%;
}
.poj-title h3{
    font-size: 30px;
}
.poj-title p{
    margin-top: 10px;
    font-size: 16px;
}
.poj-text{
    float: right;
}
.poj-text > a{
    width: 100%;
    display: block;
    text-align: right;
    margin: 20px 0 6px;
    position: relative;
    padding-right: 30px;
    right: 30px;
    font-size: 16px;
}
.poj-more:after{
    content: "";
    width: 20px;
    height: 16px;
    background-image: url('../images/projrct/more.png');
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.poj-text > div{
    text-align: justify;
    text-indent:35px;
}
.poj-text .text-ch{
    font-size: 20px;
}
.poj-text .text-en{
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
}