.survey-conten{
    width: 1200px;
    min-width: 1000px;
    color: #fff;
    margin:70px auto 0;
    position: relative;
}
.survey-logo{
    position: absolute;
    left: 18%;
}
.survey-title{
    text-align: center;
}
.survey-title .title h2{
    font-size: 30px;
    font-weight: bold;
}
.survey-title .title{
    padding-top: 20px;
}
.survey-info{
    margin-top: 100px;
}
.info-conten{
    margin-bottom: 40px;
    text-indent:35px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing:4px;
    text-align: justify;
    font-size: 18px;
}
.info-conten.en{
    font-weight: lighter;
    font-size: 16px;
    letter-spacing:2px;
}
.partner{
    width: 100%;
    background-image: url('../images/survey/pana-bg.png');
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1366px) {
    .partner{
        height: 150px;
    }
}
@media screen and (max-width: 1042px) {
    .partner{
        height: 120px;
    }
    .survey-conten{
        width: 800px;
    }
    .survey-logo{
        left: 11%;
    }
}