.news-conten {
    color: #fff;
    padding: 140px 0 40px;
    position: relative;
}
.news-conten-bg{
    width: 1400px;
    margin:0 auto 0px;
    background-color: rgba(0,0,0,.2);
    padding: 30px 0 40px;
}
.news-title{
    width: 330px;
    margin: auto;
    text-align: center;
    position: relative;
}
.news-title:before{
    content: "";
    width: 14px;
    height: 36px;
    background-color: #ff8251;
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
}
.news-title:after{
    content: "";
    width: 14px;
    height: 36px;
    background-color: #ff8251;
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
}
.news-title h2{
    font-size: 34px;
    font-weight: bold;
}
.news-title  span{
    font-size: 18px;
}
.news-list-img{
    width: 220px;
    height: 160px;
    margin-right: 120px;
}
.news-info{
    padding: 0 100px;
    margin-bottom: 40px;
}
.news-info li{
    overflow: hidden;
    border-bottom: 3px solid #ff8251;
    padding-bottom: 14px;
    margin-top: 50px;
}
.news-info li > div{
    float: left;
    color: #fff;
}
.news-list{
    width: 840px;
    display: block;
    float: left;
    color: #fff;
}
.news-list-img img{
    width: 100%;
    height: 100%;
}
.news-list-title{
    font-size: 26px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.news-text{
    font-size: 22px;
    margin: 10px 0;
    line-height: 32px;
}
.news-time{
    font-size: 20px;
    margin-top: 32px;
}
.sub-mb-img{
    display: none;
}
@media screen and (max-width: 1500px) {
    .news-conten-bg{
        width: 1100px;
    }
    .news-list {
        width: 560px;
    }
}
@media screen and (max-width: 1024px) {
    .news-conten-bg{
        width: 1000px;
    }
    .news-list {
        width: 450px;
    }
}
@media screen and (max-width: 1023px) {
    .news-conten{
        padding-top: 100px;
    }
    .news-conten-bg{
        padding-top: 0;
        width: 90%;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .news-title h2{
        font-size: 24px;
    }
    .news-title span{
        font-size: 14px;
    }
    .news-title {
        width: 240px;
    }
    .news-title:after,.news-title:before {
        width: 8px;
    }
    .news-info{
        padding: 0 ;
    }
    .news-list-img{
        width: 120px;
        height: 90px;
        margin-right: 20px;
    }
    .news-list{
        width: 50%;
    }
    .news-list-title{
        font-size: 16px;
    }
    .news-text{
        font-size: 14px;
        line-height: 14px;
    }
    .news-time{
        font-size: 12px;
        margin-top: 16px;
    }
    .sub-mb-img{
        display: block;
        width: 60%;
        margin: auto;
    }
}

/*poj-flow*/
.pojflow-conten{
    padding-top: 140px;
    width: 1600px;
    margin: auto;
}
.pojflow-title{

}
.pojflow-title h2{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.pojflow-title p{
    font-size: 18px;
    color: #ff8251;
}
.pojflow-img{
    width: 100%;
    text-align: center;
    margin: 100px 0;
}
.pojflow-img img{
    width: 100%;
}
.poj-pc-img{
    display: block;
}
.poj-mb-img{
    display: none;
}
@media screen and (max-width: 1800px) {
    .pojflow-conten{
        width: 1200px;
    }
}
@media screen and (max-width: 1024px) {
    .pojflow-conten{
        width: 1000px;
    }
    .pojflow-title h2{
        font-size: 30px;
    }
    .pojflow-title p{
        font-size: 16px;
    }
}
@media screen and (max-width: 1023px) {
    .pojflow-conten{
        width: 90%;
        padding-top: 80px;
    }
    .pojflow-title h2{
        font-size: 20px;
    }
    .pojflow-title p{
        font-size: 12px;
    }
    .poj-pc-img{
        display: none;
    }
    .poj-mb-img{
        display: block;
        width: 80%!important;
        margin:20px auto;
    }
    .pojflow-img{
        margin: 0;
        padding-bottom: 40px;
    }
    .mb-height{
        height: auto;
    }
}
/*加入我们*/
.join-conten{
    width: 1200px;
    padding-top: 160px;
    background-color: rgba(0,0,0,.4);
    margin: auto;
}
.join-title {
    color: #fff;
}
.join-info li{
    overflow: hidden;
    width: 450px;
    margin:0 auto 60px;
}
.join-info li >div,.join-info li >em{
    float: left;
    color: #fff;
}
.join-position{
    font-size: 24px;
    font-weight: bold;
    width: 230px;
}

.join-info li em{
    width: 2px;
    height: 20px;
    background-color: #a4a4a4;
    display: block;
    position: relative;
    top: 4px;
    margin-right: 110px;
}
.join-Requirement .per{
    font-size: 16px;
}
.join-Requirement .date{
    font-size: 14px;
}
.join-info{
    margin-top: 60px;
    padding-bottom: 60px;
}
.left-img{
    position: fixed;
    left: -15%;
    top: 15%;
    width: 30%;
}
.right-img{
    position: fixed;
    right: -15%;
    top: 15%;
    width: 30%;
}
@media screen and (max-width: 1024px) {
    .join-conten {
        width: 1000px;
    }
}
@media screen and (max-width: 1023px) {
    .join-conten {
        width: 90%;
    }
    .join-conten {
        padding-top: 100px;
    }
    .left-img,.right-img{
        display: none;
    }
    .join-info{
        padding-bottom: 0;
    }
    .join-info ul{

    }
    .join-info li em{
        display: none;
    }
    .join-info li{
        width: 100%;
        margin: 0 auto 50px;
    }
    .join-position{
        font-size: 18px;
        line-height: 30px;
        font-weight: lighter;
        text-align: center;
        width: 50%;
    }
    .join-Requirement{
        width: 50%;
        text-align: center
    }
    .join-Requirement .per{
        font-size: 14px;
    }
    .join-Requirement .date{
        font-size: 12px;
    }
}
/*创意科技*/
.creat-info a{
    margin: 60px 0;
    display: block;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.creat-info{
    padding-bottom: 100px;
}
.creat-img{
    top: 30%;
}
@media screen and (max-width: 1023px) {
    .creat-info a{
        font-size: 18px;
    }
    .creat-info{
        padding-bottom: 0;
    }
}
/*联系我们*/
.contact-conten{
    width: 1600px;
    margin: auto;
    padding: 140px 0 70px;
    overflow: hidden;
}
.contac-img img{
    display: block;
}
.contac-left{
    width: 710px;
    float: left;
}
.contac-left{
    background-color: rgba(82,75,103,0.5);
}
.contac-info .contac-list{
    color: #fff;
    margin-bottom: 30px;
}
.contac-info{
    padding: 30px 40px;
}
.contac-info .contac-list h4{
    font-size: 20px;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contac-info .contac-list p{
    font-size: 16px;
    margin: 14px 0;
}
.contac-icon{
    width: 37px;
    height: 30px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 8px;
}
.contac-list dd{
    margin-bottom: 20px;
}
.place-icon{
    background-image: url("../images/contact/pc/place.png");
}
.e-mail-icon{
    background-image: url("../images/contact/pc/e-mail.png");
}
.tell-icon{
    background-image: url("../images/contact/pc/tell.png");
}
.bus-icon{
    background-image: url("../images/contact/pc/bus.png");
}
.metro-icon{
    background-image: url("../images/contact/pc/metro.png");
}
.contacts-icon{
    background-image: url("../images/contact/pc/contacts.png");
}
.weChat-icon{
    background-image: url("../images/contact/pc/weChat.png");
}
.outher{
    margin-left: -58px;
    overflow: hidden;
}
.outher dd{
    float: left;
    margin-left: 58px;
}
.contac-right{
    float: left;
    margin-left: 40px;
    width: 800px;
    background-color: #fff;
    height: 760px;
}
@media screen and (max-width: 1600px) {
    .contact-conten{
        width: 1200px;
    }
    .contac-left{
        width: 600px;
    }
    .contac-img img{
        width: 100%;
    }
    .contac-info{
        padding: 30px 20px;
    }
    .outher{
        margin-left: -20px;
    }
    .outher dd{
        margin-left: 20px;
    }
    .contac-right{
        width: 560px;
        height: 737px;
    }
}
@media screen and (max-width: 1024px) {
    .contact-conten{
        width: 1000px;
        padding: 90px 0 30px;
    }
    .contac-info{
        padding: 20px;
    }
    .contac-list dd{
        font-size: 12px;
    }
    .contac-icon{
        width: 28px;
        height: 22px;
        background-size: 100%;
    }
    .contac-left {
        width: 520px;
    }
    .contac-right{
        width: 470px;
        margin-left: 10px;
        height: 650px;
    }
}
@media screen and (max-width: 1023px) {
    .contact-conten{
        width: 100%;
        padding: 70px 0 30px;
    }
    .contac-left{
        float: initial;
        width: 90%;
        margin: auto;
        background-color: rgba(88,73,116,0.5);
    }
    .contac-info .contac-list h4{
        font-size: 16px;
        border-bottom: 2px solid #fff;
        padding-bottom: 0;
    }
    .contac-info .contac-list p{
        font-size: 14px;
    }
    .contac-icon{
        width: 20px;
        height: 16px;
        top: 5px;
    }
    .contac-info{
        padding: 20px 10px 0;
    }
    .contac-right{
        float: initial;
        width: 90%;
        height: 400px;
        margin: auto;
    }

}
/*正豆概况*/
.survey-conten{
    width: 1200px;
    min-width: 1000px;
    color: #fff;
    padding-top: 160px;
    margin: auto;
    position: relative;
}
.survey-logo{
    position: absolute;
    left: 18%;
}
.survey-title{
    text-align: center;
}
.survey-title .title h2{
    font-size: 30px;
    font-weight: bold;
}
.survey-title .title{
    padding-top: 20px;
}
.survey-info{
    margin-top: 100px;
}
.info-conten{
    margin-bottom: 40px;
    text-indent:35px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing:4px;
    text-align: justify;
    font-size: 18px;
}
.info-conten.en{
    font-weight: lighter;
    font-size: 16px;
    letter-spacing:2px;
}
.pana-img{
    width: 100%;
   display: block;
}
.mb-partner{
    display: none;
}
@media screen and (max-width: 1366px) {
    .partner{
        height: 150px;
    }
}
@media screen and (max-width: 1024px) {
    .partner{
        height: 120px;
    }
    .survey-conten{
        width: 800px;
    }
    .survey-logo{
        left: 11%;
    }
}
@media screen and (max-width: 1023px){
    .survey-conten {
        width: 90%;
        min-width: 90%;
        padding-top: 60px;
    }
    .survey-title .title h2{
        font-size: 18px;
    }
    .survey-title .title p{
        font-size: 12px;
        letter-spacing:2px;
    }
    .survey-logo{
        display: none;
    }
    .survey-info{
        margin-top: 40px;
    }
    .info-conten{
        font-size: 12px;
        font-weight: lighter;
        margin-bottom: 10px;
        line-height: 18px;
    }
    .pana-img{
        display: none;
    }
    .info-conten.en{
        font-size: 12px;
    }
    .partner{
        display: none;
    }
    .mb-partner{
        display: block;
    }
    .mb-partner .partner-img{
        width: 100%;
        height: auto;
        display: block;
    }
    .mb-survey-logo{
        display: block;
        margin: auto;
        position: relative;
        top: 30px;
        width: 50px;
    }
}
/*法律声明*/
.law-info{
    color: #fff;
    padding: 0 20px 120px;
}
.law-info h2{
    font-size: 24px;
    text-align: center;
}
.law-text{
    line-height: 24px;
    text-align: justify;
    text-indent: 30px;
    margin-top: 20px;
}
.law-pc-info{
    margin-top: 80px;
    padding: 0 80px 80px;
    height: 50%;
}
.law-pc-info p{
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}
